<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="winformProject.Properties.Settings.smartParkingConnectionString"
            connectionString="Data Source=18.222.232.191;Initial Catalog=smartParking;User ID=sa;Password=12345678aA"
            providerName="System.Data.SqlClient" />
        <add name="winformProject.Properties.Settings.smartParkingConnectionString1"
            connectionString="Data Source=.;Initial Catalog=smartParking;Persist Security Info=True;User ID=sa;Password=123"
            providerName="System.Data.SqlClient" />
        <add name="winformProject.Properties.Settings.smartParkingConnectionString2"
            connectionString="Data Source=18.222.232.191;Initial Catalog=smartParking;Persist Security Info=True;User ID=sa;Password=12345678aA"
            providerName="System.Data.SqlClient" />
        <add name="winformProject.Properties.Settings.smartParkingConnectionString3"
            connectionString="Data Source=phudeptrai3.cqc3kxuutqtm.us-east-2.rds.amazonaws.com;Initial Catalog=smartParking;Persist Security Info=True;User ID=sa;Password=12345678"
            providerName="System.Data.SqlClient" />
        <add name="winformProject.Properties.Settings.smartParkingConnectionString4"
            connectionString="Data Source=database2.c69kwntmezi6.us-east-2.rds.amazonaws.com;Initial Catalog=smartParking;User ID=sa;Password=12345678"
            providerName="System.Data.SqlClient" />
        <add name="winformProject.Properties.Settings.smartParkingConnectionString5"
            connectionString="Data Source=database.c69kwntmezi6.us-east-2.rds.amazonaws.com;Initial Catalog=smartParking;User ID=sa;Password=12345678"
            providerName="System.Data.SqlClient" />
        <add name="winformProject.Properties.Settings.smartParkingConnectionString6"
            connectionString="Data Source=database2.c69kwntmezi6.us-east-2.rds.amazonaws.com;Initial Catalog=smartParking;Persist Security Info=True;User ID=sa;Password=12345678"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>